body,html{
    direction:rtl;
    
}
body,h1,h2,h3,h4,h5,h6,a,p,button,b,address,strong{
    font-family:bnazanin !important;
}

/*#region Heading1 */

#flex{
    display:flex;
    flex-direction:column;
    /*justify-content:center;*/
    text-align:center;
    color:white;
    padding-top:20%;
}

#mainTitle {
    font-size: 60px;
}

#subTitle {
    font-size: 50px;
}

#img {
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    background-attachment: fixed;
}

.findMe {
    color: white;
    font-size: 16px;
    background-color: #999999;
    padding: 15px 15px 15px 15px;
}

    .findMe:hover {
        text-decoration: none;
        background-color: #333333;
        color: white;
    }

/*#endregion */

/*#region Main message of the page */

#main-message {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size:20px;
}


/*#endregion */

/*#region Our Services */

#blue hr {
    width: 70px;
    border: 1px solid white;
}

#blue {
    color: white;
    padding-top: 30px;
    padding-bottom:30px;
    text-align: center;
    /*height: 450px;*/
    background-color: #312316;
}

.images {
    width: 80px;
    height: 80px;
}

.title {
    color: white;
    font-weight: bold;
}

.buttons {
    margin-top: 15px;
    color: black;
}

.buttons-ourServices {
    color: black !important;
    font-weight: bold !important;
}

#services {
    padding-top: 0px;
}

/*#endregion */

/*#region Heading2 */

#abstract {
    width: 100%;
    height: 300px;
}

/*#endregion */



/*#region softwares */

#softwares-header {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

#softwares hr {
    width: 200px;
}

.softwares-title {
    font-size: 25px;
    font-weight: bold;
    color: #993d00;
}

.softwares-des {
    font-size: 20px;
}

/*#endregion */
 
/*#region Our services */


#ourservices{
    font-size:30px;
}
    .services-titles{
        font-size:25px;
       
    }
    .services-des{
        font-size:18px;
        font-weight:100;
    }
    .services-content{
        margin-bottom:15px;
        
    }

/*#endregion */

/*#region Heading3 */

#second-blue {
    color: white;
    padding-top: 50px;
    text-align: center;
    height: 200px;
    background-color: #312316;
}

/*#endregion */

/*#region Menu */
#btn-menu {    
    position: fixed;
    top: 20px;
    right: 16px;
    font-size: 18px;
    z-index:1000;
    }
#menu-toggle {
    z-index: 1;
    position: fixed;
    right: 0;
}
#mynav {
    background-color: #1A1B1C;
    opacity: 0.9;
    filter: alpha(opacity=30);
    position: fixed;
    right: -235px;
    width: 250px;
    height: 100%;
    /*float:right;*/
    color: #67686D;
}
#mynav ul > li > a {
    color: white;
    font-size: 20px;
}

    #mynav ul > li > a:not(:hover) {
        color: white;
        font-size: 20px;
        transform: translate(0px);
        transition: transform 1s;
    }

    #mynav ul > li > a:hover {
        color: #ffa600;
        background-color: inherit;
        transform: translate(-20px);
        transition: transform 1s;
    }
   

ul {
    margin-right: -29px;
}

#menu-title {
    text-decoration: none;
    color: white;
    margin-right: 23px !important;
}

    #menu-title:hover {
        color: #cc8500 !important;
    }
 

.sidebar-show {
    z-index: 1000;
    position: fixed;
    width: 250px;
    height: 100%;
    transform: translateX(-250px);
    transition: transform 1s;
}

.sidebar-hide {
    z-index: 1000;
    position: fixed;
    right: -235px;
    width: 250px;
    height: 100%;
    transform: translate(250px);
    transition: transform 1s;
}


.navbar-inner ul li a {
    color: #e6e6e6;
}

.navbar-inner a:hover {
    text-decoration: none;
}

/*#endregion */

/*#region Team */

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-top:3px;
    margin-bottom: 3px;
   /*float:right;*/
}

.section-heading-spacer {
    
    width: 150px;
    border-top: 3px solid #e7e7e7;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.round-corner{
    border-radius:10px;
}

.rightToLeft{
    /*float :right !important;*/
    margin-bottom:3px;
}

/*#endregion */



/*#region Makets */



.meClass{
    -webkit-filter:initial !important;
}


.img-gallery {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

    .img-gallery:hover {
        filter: none; /* IE6-9 */
        -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
        cursor: pointer;
    }
/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
    /* Indicators list style */
    .article-slide .carousel-indicators li {
        border: medium none;
        border-radius: 0;
        float: left;
        height: 54px;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 5px !important;
        margin-top: 0;
        width: 100px;
    }
    /* Indicators images style */
    .article-slide .carousel-indicators img {
        border: 2px solid #FFFFFF;
        float: left;
        height: 54px;
        left: 0;
        width: 100px;
    }
    /* Indicators active image style */
    .article-slide .carousel-indicators .active img {
        border: 2px solid #428BCA;
        opacity: 0.7;
    }

    
    #article-photo-carousel{

    }

/*#endregion */

/*#region ContactUs */



#page {
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-image: url(../img/ContactUs/contactUsPic.jpg) ;
    height:100vh;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#contactUsMessage{
    font-size:15px;
    font-weight:bold;
}

/*#endregion */

/*#region Footer */

#main-header {
    background: #312316;
    height: 85px;
    color: #ffa600;
    text-align: left;
}

#main-header-title {
    margin-left: 30px;
    text-decoration: none;
    color: #ffa600;
}

    #main-header-title:hover {
        color: white;
    }

/*#endregion */

#space {
    margin-top:30px;
}

#map iframe {
    width:100%;
    height:400px;
}
#footer {
    margin-top:50px;
    text-align:center;
    margin-bottom:50px;
}
#small-hr {
    width:100px;
}
#img-maket {
    background:url(../img/makets/second-pic.JPG);
    background-size:cover;
    background-attachment:fixed;
    padding-top:150px;
    text-align:center;
    color:white;
    height:350px;
}
#maket-title{
    font-size:35px;
   
}
.pic {
    padding-bottom:20px;
}




.toggle {
    margin:5px 5px 0 0;
}


 .col-sm-3{
     padding-left:25px !important;
     padding-right:25px !important;
 }



@font-face{
    font-family:bnazanin;
    src:url(../fonts/BNazanin.ttf);
}

.plan-size{
    width:500px;
    height:500px;
}


@media only screen and (max-width:375px) {

    #mainTitle {
        font-size: 30px;
    }
    #subTitle{
        font-size:20px;
    }
    #img{
        padding-top:50%;
        height:100vh;
    }
    #main-message{
        font-size:15px;
    }
    #img-abstract{      
      
       max-width:375px !important;
       height:auto !important;
       background-size:cover;
      
    }
    #ourservices{
        font-size:30px;
    }
    .services-titles{
        font-size:20px;
    }
    .services-des{
        font-size:15px;
    }
    #maket-title{
        font-size:20px;
      
    }
    #img-maket{
        height:200px;
    }
    #softwares-header{
        font-size:25px;
    }
    .softwares-title{
        font-size:20px;
    }
    .softwares-des{
        font-size:15px;
    }
    #info{
        display:none;
    }
   

 .well{
     width:350px;
     
 }
   #contactUsMessage{
       font-size:15px;
       font-weight:bold;
   }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
    #mainTitle {
        font-size: 30px;
    }
    #subTitle{
        font-size:20px;
    }
    #img{
        padding-top:10%;
    }
     #main-message{
        font-size:15px;
    }
      #ourservices{
        font-size:30px;
    }
    .services-titles{
        font-size:20px;
    }
    .services-des{
        font-size:15px;
    }
    #img-maket{
        height:200px;
    }
   
    #maket-title{
        font-size:20px;
    }
    #softwares-header{
        font-size:25px;
    }
    .softwares-title{
        font-size:20px;
    }
    .softwares-des{
        font-size:15px;
    }

    #info{
        display:none;
    }
    .well{
        height:350px;
        width:630px;
        
    }
    #contactUsMessage{
       font-size:15px;
       font-weight:bold;
   }

    
}

.mydiv {   
    background-color: rgba(255,255,255,0.9);
    text-align:center;
    padding-bottom:20px;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;     
}