@{
    ViewBag.Title = "Coming Soon...";
}

@*<div class="bg-overlay"></div>*@
<!-- Preloader start here -->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Preloader end here -->
<!-- About Icon start here -->
<!--<div class="about-us">
    <a href="#" class="fa fa-file-text-o tool-tip" data-toggle="modal" data-target=".bs-example-modal-lg" data-placement="right" title="About"></a>
</div>-->
<!-- About Icon end here -->
<!-- Contact Icon start here -->
<!--<div class="contact-us">
    <a href="#" class="fa fa-envelope-o tool-tip" data-toggle="modal" data-target=".bs-example-modal-lg2" data-placement="left" title="Contact"></a>
</div>-->
<!-- Contact Icon end here -->
<!-- Main container start here -->
<section class="container main-wrapper">
    <!-- Logo start here -->
    <section id="logo" class="fade-down">
        <a href="/" title="Engineers-Team">
            <span class="label">Engineers-Team</span>
            <!--<img src="img/logo.png" alt="UX - Coming Soon HTML Template">-->
        </a>
    </section>
    <!-- Logo end here -->
    <!-- Slogan start here -->
    <section class="slogan fade-down">
        <h1>We are working hard to create a cool, awesome and intuitive for Pezhman's portfolio website. Lot's of coolness is about to happen!</h1>
    </section>
    <!-- Slogan end here -->
    <!-- Count Down start here -->
    <section class="count-down-wrapper fade-down">
        <ul class="row count-down">
            <li class="col-md-3 col-sm-6">
                <input class="knob days" data-readonly=true data-min="0" data-max="365" data-width="260" data-height="260" data-thickness="0.07" data-fgcolor="#34aadc" data-bgcolor="#e1e2e6" data-angleoffset="180">
                <span id="days-title">days</span>
            </li>
            <li class="col-md-3 col-sm-6">
                <input class="knob hour" data-readonly=true data-min="0" data-max="24" data-width="260" data-height="260" data-thickness="0.07" data-fgcolor="#4cd964" data-bgcolor="#e1e2e6" data-angleoffset="180">
                <span id="hours-title">hours</span>
            </li>
            <li class="col-md-3 col-sm-6">
                <input class="knob minute" data-readonly=true data-min="0" data-max="60" data-width="260" data-height="260" data-thickness="0.07" data-fgcolor="#ff9500" data-bgcolor="#e1e2e6" data-angleoffset="180">
                <span id="mins-title">minutes</span>
            </li>
            <li class="col-md-3 col-sm-6">
                <input class="knob second" data-readonly=true data-min="0" data-max="60" data-width="260" data-height="260" data-thickness="0.07" data-fgcolor="#ff3b30" data-bgcolor="#e1e2e6" data-angleoffset="180">
                <span id="secs-title">seconds</span>
            </li>
        </ul>
    </section>
    
    <!-- Social icons start here -->
    @*<ul class="connect-us row fade-down">
        <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>

        <li><a href="#" class="dribbble tool-tip" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#" class="pinterest tool-tip" title="Pinterest"><i class="fa fa-pinterest-square"></i></a></li>
    </ul>*@
    <!-- Social icons end here -->
    <!-- Footer start here -->
    <footer class="fade-down">
        <p class="footer-text">Engineers-team.com &copy; @DateTime.Now.Year , All Rights Reserved. Made with love by <a href="http://www.jozaninet.com">JozaniNet.com</a></p>
    </footer>
    <!-- Footer end here -->
</section>


