@{
    ViewBag.Title = "معماری";
}

@Html.Partial("Header")

@section scripts{
<script src="~/Scripts/architect/jquery.mobile.customized.min.js"></script>
<script src="~/Scripts/maket/jquery.easing.1.3.js"></script>
<script src="~/Scripts/architect/camera.js"></script>
<link href="~/Content/architect/camera.css" rel="stylesheet" />
}

<script>
    jQuery(function () {

        jQuery('#camera_wrap_1').camera({
            thumbnails: true
        });

        jQuery('#camera_wrap_2').camera({
            height: '400px',
            loader: 'bar',
            pagination: false,
            thumbnails: true
        });
    });
</script>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    a {
        color: #09f;
    }

        a:hover {
            text-decoration: none;
        }

    #back_to_camera {
        clear: both;
        display: block;
        height: 80px;
        line-height: 40px;
        padding: 20px;
    }

    .fluid_container {
        margin: 0 auto;
        max-width: 1000px;
        width: 90%;
    }
    #architect-title{
        font-size:30px;
        text-align:center;
        margin-top:30px;
        margin-bottom:30px;
    }
    #architect-designer{
        font-size:20px;
        text-align:center;
        font-weight:bold;
    }
</style>


    <div class="fluid_container">
        <p id="architect-title">طراحی سه بعدی نمای ساختمان</p>
        <p id="architect-designer">توسط الهه آزاد</p>

        <div class="camera_wrap camera_azure_skin row" id="camera_wrap_1">
            <div data-thumb="/img/architect/thumb/1.jpg" data-src="/img/architect/1.jpg">
                <div class="camera_caption fadeFromBottom">
                    responsive slideshow.
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/2.jpg" data-src="/img/architect/2.jpg">
                <div class="camera_caption fadeFromBottom">
                    responsive slideshow.
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/3.jpg" data-src="/img/architect/3.jpg">
                <div class="camera_caption fadeFromBottom">
                    responsive slideshow.
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/4.jpg" data-src="/img/architect/4.jpg">
                <div class="camera_caption fadeFromBottom">
                    Camera slideshow provides many options <em>to customize your project</em> as more as possible
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/5.jpg" data-src="/img/architect/5.jpg">
                <div class="camera_caption fadeFromBottom">
                    responsive slideshow.
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/6.jpg" data-src="/img/architect/6.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم 
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/7.jpg" data-src="/img/architect/7.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/8.jpg" data-src="/img/architect/8.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/9.jpg" data-src="/img/architect/9.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/10.jpg" data-src="/img/architect/10.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/11.jpg" data-src="/img/architect/11.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/12.jpg" data-src="/img/architect/12.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/13.jpg" data-src="/img/architect/13.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/14.jpg" data-src="/img/architect/14.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/15.jpg" data-src="/img/architect/15.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/16.jpg" data-src="/img/architect/16.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
            </div>
            <div data-thumb="/img/architect/thumb/17.jpg" data-src="/img/architect/17.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی نمای ساختمان با قلم
                </div>
                </div>
                <div data-thumb="/img/architect/thumb/18.jpg" data-src="/img/architect/18.jpg">
                    <div class="camera_caption fadeFromBottom">
                        طراحی نمای ساختمان با قلم
                    </div>
                    </div>
                    <div data-thumb="/img/architect/thumb/19.jpg" data-src="/img/architect/19.jpg">
                        <div class="camera_caption fadeFromBottom">
                            طراحی نمای ساختمان با قلم
                        </div>
                        </div>
                        <div data-thumb="/img/architect/thumb/20.jpg" data-src="/img/architect/20.jpg">
                            <div class="camera_caption fadeFromBottom">
                                طراحی نمای ساختمان با قلم
                            </div>
                            </div>
                            <div data-thumb="/img/architect/thumb/21.jpg" data-src="/img/architect/21.jpg">
                                <div class="camera_caption fadeFromBottom">
                                    طراحی نمای ساختمان با قلم
                                </div>
                                </div>
                                <div data-thumb="/img/architect/thumb/22.jpg" data-src="/img/architect/22.jpg">
                                    <div class="camera_caption fadeFromBottom">
                                        طراحی نمای ساختمان با قلم
                                    </div>
                                </div>
                                <div data-thumb="/img/architect/thumb/23.jpg" data-src="/img/architect/23.jpg">
                                    <div class="camera_caption fadeFromBottom">
                                        طراحی نمای ساختمان با قلم
                                    </div>
                                </div>
                                <div data-thumb="/img/architect/thumb/24.jpg" data-src="/img/architect/24.jpg">
                                    <div class="camera_caption fadeFromBottom">
                                        طراحی نمای ساختمان با قلم
                                    </div>
                                </div>
                                <div data-thumb="/img/architect/thumb/25.jpg" data-src="/img/architect/25.jpg">
                                    <div class="camera_caption fadeFromBottom">
                                        طراحی نمای ساختمان با قلم
                                    </div>
                                </div>
                                <div data-thumb="/img/architect/thumb/26.jpg" data-src="/img/architect/26.jpg">
                                    <div class="camera_caption fadeFromBottom">
                                        طراحی نمای ساختمان با قلم
                                    </div>
                                </div>
                                <div data-thumb="/img/architect/thumb/27.jpg" data-src="/img/architect/27.jpg">
                                    <div class="camera_caption fadeFromBottom">
                                        طراحی نمای ساختمان با قلم
                                    </div>
                                </div>
                                <div data-thumb="/img/architect/thumb/28.jpg" data-src="/img/architect/28.jpg">
                                    <div class="camera_caption fadeFromBottom">
                                        طراحی نمای ساختمان با قلم
                                    </div>
                                </div>
                                <div data-thumb="/img/architect/thumb/29.jpg" data-src="/img/architect/29.jpg">
                                    <div class="camera_caption fadeFromBottom">
                                        طراحی نمای ساختمان با قلم
                                    </div>
                                </div>
                                <div data-thumb="/img/architect/thumb/30.jpg" data-src="/img/architect/30.jpg">
                                    <div class="camera_caption fadeFromBottom">
                                        طراحی نمای ساختمان با قلم
                                    </div>
                                </div>

                            
          </div>  
     
               
        </div><!-- #camera_wrap_1 -->
<div style="clear:both; display:block; height:100px"></div>
        @*<p>Thumbnails with fixed height</p>
        <div class="camera_wrap camera_magenta_skin" id="camera_wrap_2">
            <div data-thumb="/img/image/slides/thumbs/bridge.jpg" data-src="/img/image/slides/bridge.jpg">
                <div class="camera_caption fadeFromBottom">
                    Camera is a responsive/adaptive slideshow. <em>Try to resize the browser window</em>
                </div>
            </div>
            <div data-thumb="/img/image/slides/thumbs/leaf.jpg" data-src="/img/image/slides/leaf.jpg">
                <div class="camera_caption fadeFromBottom">
                    It uses a light version of jQuery mobile, <em>navigate the slides by swiping with your fingers</em>
                </div>
            </div>
            <div data-thumb="/img/image/slides/thumbs/road.jpg" data-src="/img/image/slides/road.jpg">
                <div class="camera_caption fadeFromBottom">
                    <em>It's completely free</em> (even if a donation is appreciated)
                </div>
            </div>
            <div data-thumb="/img/image/slides/thumbs/sea.jpg" data-src="/img/image/slides/sea.jpg">
                <div class="camera_caption fadeFromBottom">
                    Camera slideshow provides many options <em>to customize your project</em> as more as possible
                </div>
            </div>
            <div data-thumb="/img/image/slides/thumbs/shelter.jpg" data-src="/img/image/slides/shelter.jpg">
                <div class="camera_caption fadeFromBottom">
                    It supports captions, HTML elements and videos and <em>it's validated in HTML5</em> (<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pixedelic.com%2Fplugins%2Fcamera%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0&amp;user-agent=W3C_Validator%2F1.2" target="_blank">have a look</a>)
                </div>
            </div>
            <div data-thumb="/img/image/slides/thumbs/tree.jpg" data-src="/img/image/slides/tree.jpg">
                <div class="camera_caption fadeFromBottom">
                    Different color skins and layouts available, <em>fullscreen ready too</em>
                </div>
            </div>*@
        @*</div>*@
    <!-- #camera_wrap_2 -->
    @*</div>


    <div style="clear:both; display:block; height:100px"></div>
</div>*@
