@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="row">
    <div id="img" class="col-sm-12" >
        <div class="row header">            
            <div class="row">
                <p id="mainTitle"><b>تیم مهندسان</b></p>
            </div>
            <div class="row">
                <p id="subTitle">مجموعه ای از رشته های عمران، معماری، شبکه و نرم افزار کامپیوتر</p>
            </div>
            <div>
                <a href="@Url.Action("Team","Main")" class="btn btn-warning buttons-ourServices">درباره ما بیشتر بدانید</a>
            </div>
        </div>
    </div>
</div>
<div id="description" class="row">
    <div class="col-sm-12">
        
        <h2><strong>تعریف درستی از مسايل مهندسی در دست نیست. راه حل های زیادی وجود دارد، بعضی از آنها خوب و بعضی بد یا بی اثرند. <br /> هنر در رسیدن به راه حلی خوب است. این فعالیتی خلاقانه است که لازمه اش داشتن قدرت تخیل، بینش و قدرت انتخاب سنجیده است.<br /> تیم ما با داشتن تمام این ویژگی ها اماده کمک به شما در راستای اهداف شماست. </strong></h2>
    </div>
</div>

@Html.Partial("OurServices")

<div class="row" style="height:400px" id="img-abstract">
<h1><strong>نمومه ای از طراحی ماکت با لیزر</strong></h1>
</div>

@Html.Partial("OurWork")



<div class="row" id="second-blue">
    <div class="col-sm-12">
        <h3>کلیک روی این دکمه هارو از دست ندهید</h3>
    </div>
    <div id="space" class="col-sm-12">
        <a href="#" class="btn btn-warning buttons-ourServices">اینجا کلیک کنید</a>
        <a href="#" class="btn btn-warning buttons-ourServices">به اینجا هم سر بزنید</a>
    </div>
</div>


<div class="row">
    <div id="map">

        @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1619.0476791376!2d51.44317439206544!3d35.748460890783655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0408502bb0e5%3A0x2627abb3fa44041d!2sTehran+Province%2C+Tehran%2C+W+Qanari+Alley%2C+Iran!5e0!3m2!1sen!2sus!4v1477589688652" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>*@

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d809.5192860204414!2d51.44266592925176!3d35.74890859876117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e04085e155b51%3A0xd06e9e7a4a5d7571!2sTehran+Province%2C+Tehran%2C+W+Qanari+Alley%2C+Iran!5e0!3m2!1sen!2sus!4v1477589840348"
                frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
</div>

<script>
    
</script>




