@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script>
        $(document).ready(function () {
            // TODO: insert comment
            $('#main-container').click(function () {
                $("#mynav").removeClass("sidebar-show").addClass("sidebar-hide");
                $("#btn-open").fadeIn('slow');
            });

            // TODO: insert comment
            $("#btn-open").click(function (event) {
                event.preventDefault();
                $("#mynav").removeClass("sidebar-hide").addClass("sidebar-show");
                $("#btn-open").fadeOut('slow');
            });
        });
    </script>
}





@Html.Partial("Menu")

<div class="container-fluid" id="main-container" style="z-index:1">
    <div class="row">
        <div id="img" class="col-sm-12">
            <div class=" header">
                <div>
                    <p id="mainTitle"><b>تیم مهندسان</b></p>
                </div>
                <div>
                    <p id="subTitle">نمونه کارهای پلان ساختمان، ماکت، طراحی وبسایت،  کارگذاری دوربین های مداربسته</p>
                </div>
                <div>
                    <a href="#" class="btn btn-primary buttons-ourServices">درباره ما بیشتر بدانید</a>
                </div>
            </div>

        </div>
    </div>
    <div id="description" class="row">
        <div class="col-sm-12">
            <h2>Stylish Portfolio is the perfect theme for your next project!</h2>

            <h4>This theme features some wonderful courtesy of Death to the Stock Photo.</h4>
        </div>
    </div>

    @Html.Partial("OurServices")

    <div class="row" style="height:400px" id="img-abstract">
        <h1><strong>Vertically Centered Text</strong></h1>

    </div>

    @Html.Partial("OurWork")

    <div class="row" id="second-blue">
        <div class="col-sm-12">
            <h3>The buttons below are impossible to resist.</h3>
        </div>
        <div id="space" class="col-sm-12">
            <a href="#" id="btn-clickMe">Click Me!</a>
            <a href="#" id="btn-lookAtMe">Look at Me!</a>
        </div>
    </div>
    <div class="row">
        <div id="map">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12480.024463005955!2d-121.43451049999999!3d38.556672899999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ada9b477715cf%3A0x2ba00da74d6f5938!2s5770+T+St%2C+Sacramento%2C+CA+95817!5e0!3m2!1sen!2sus!4v1470274261546"
                    frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="footer">
            <h4><strong>Start Bootstrap</strong></h4>
            <address>3481 Melrose Place <br /> Beverly Hills, CA 90210</address>

            <ul class="list-unstyled">
                <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                <li><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:name@example.com">name@example.com</a></li>
            </ul>

            <br />

            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-facebook fa-fw-3x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-fw-3x"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble fa-fw-3x"></i></a></li>
            </ul>
            <hr id="small-hr" />
            <p class="text-muted">copyright Your Website 2014</p>

        </div>
    </div>

</div>






