@{
    ViewBag.Title = "دوربین های مداربسته";
}

@Html.Partial("Header")

@section header{
    <script src="~/Scripts/architect/jquery.mobile.customized.min.js"></script>
    <script src="~/Scripts/architect/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/architect/camera.js"></script>
    <link href="~/Content/architect/camera.css" rel="stylesheet" />
}

<script>
    jQuery(function () {

        jQuery('#camera_wrap_1').camera({
            thumbnails: true
        });

        jQuery('#camera_wrap_2').camera({
            height: '400px',
            loader: 'bar',
            pagination: false,
            thumbnails: true
        });
    });
</script>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    a {
        color: #09f;
    }

        a:hover {
            text-decoration: none;
        }

    #back_to_camera {
        clear: both;
        display: block;
        height: 80px;
        line-height: 40px;
        padding: 20px;
    }

    .fluid_container {
        margin: 0 auto;
        max-width: 1000px;
        width: 90%;
    }

    .architect-title {
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #architect-designer {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
    .pdf-link{
        color:yellow;
        font-size:20px;
       
    }
    .pdf-link:hover{
        color:orange;
    }
</style>


<div class="fluid_container">
    <div class="row">
        <p class="architect-title">نمونه هایی از دوربین های مداربسته</p>
       
    </div>
    <div class="row">
        <div class="camera_wrap camera_azure_skin col-sm-12" id="camera_wrap_1">


            <div data-thumb="/img/IT-pics/Hikvision/thumb/1.png" data-src="/img/IT-pics/Hikvision/1.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/1.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/2.png" data-src="/img/IT-pics/Hikvision/2.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/2.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/3.png" data-src="/img/IT-pics/Hikvision/3.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/3.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/4.png" data-src="/img/IT-pics/Hikvision/4.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/4.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/5.png" data-src="/img/IT-pics/Hikvision/5.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/5.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/6.png" data-src="/img/IT-pics/Hikvision/6.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/6.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/7.png" data-src="/img/IT-pics/Hikvision/7.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/7.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/8.png" data-src="/img/IT-pics/Hikvision/8.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/8.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/9.png" data-src="/img/IT-pics/Hikvision/9.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/9.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/10.png" data-src="/img/IT-pics/Hikvision/10.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/10.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/11.png" data-src="/img/IT-pics/Hikvision/11.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/11.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>

            <div data-thumb="/img/IT-pics/Hikvision/thumb/12.png" data-src="/img/IT-pics/Hikvision/12.png">
                <div class="camera_caption fadeFromBottom">
                    <a href="~/img/IT-pics/Hikvision/pdf/12.pdf" class="pdf-link">اطلاعات بیشتر</a>
                </div>
            </div>




        </div>
    </div>
      
    <!-- #maket_wrap_1 -->
</div>
<div style="clear:both; display:block; height:100px"></div>