@{
    ViewBag.Title = "شبکه دوربین های مداربسته";
}


<div class="row img-div">    
        <img class="img-size" id="img-url1" />    
</div>

    <div class="row img-div">
        <img  class="img-size " id="img-url2" />
    </div>

<div class="row img-div">
    <img  class="img-size " id="img-url3"/>
</div>

    <div class="row img-div">
        <img  class="img-size " id="img-url4"/>
    </div>


