@{
    ViewBag.Title = "گالری";
}
@Html.Partial("Header")

@section header{
<script src="~/Scripts/architect/jquery.mobile.customized.min.js"></script>
<script src="~/Scripts/architect/jquery.easing.1.3.js"></script>
<script src="~/Scripts/architect/camera.js"></script>
<link href="~/Content/architect/camera.css" rel="stylesheet" />
}

<script>
    jQuery(function () {

        jQuery('#camera_wrap_1').camera({
            thumbnails: true
        });

        jQuery('#camera_wrap_2').camera({
            height: '400px',
            loader: 'bar',
            pagination: false,
            thumbnails: true
        });
    });
</script>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    a {
        color: #09f;
    }

        a:hover {
            text-decoration: none;
        }

    #back_to_camera {
        clear: both;
        display: block;
        height: 80px;
        line-height: 40px;
        padding: 20px;
    }

    .fluid_container {
        margin: 0 auto;
        max-width: 1000px;
        width: 90%;
    }

    .architect-title {
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #architect-designer {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
</style>

<div class="fluid_container">
    <p class="architect-title">طراحی تابلو ماکت و بنای مدرن</p>
    <p id="architect-designer">توسط پژمان رجبی مهر</p>

    <div class="camera_wrap camera_azure_skin row" id="camera_wrap_1">
        <div data-thumb="/img/makets/modern-thumb/11.jpg" data-src="/img/makets/modern-building/11.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن و طراحی داخلی
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/12.jpg" data-src="/img/makets/modern-building/12.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن و طراحی داخلی
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/10.jpg" data-src="/img/makets/modern-building/10.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن و طراحی داخلی
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/6.jpg" data-src="/img/makets/modern-building/6.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن و طراحی داخلی
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/7.jpg" data-src="/img/makets/modern-building/7.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/8.jpg" data-src="/img/makets/modern-building/8.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/9.jpg" data-src="/img/makets/modern-building/9.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/1.jpg" data-src="/img/makets/modern-building/1.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/2.jpg" data-src="/img/makets/modern-building/2.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/3.jpg" data-src="/img/makets/modern-building/3.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/4.jpg" data-src="/img/makets/modern-building/4.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن
            </div>
        </div>

        <div data-thumb="/img/makets/modern-thumb/5.jpg" data-src="/img/makets/modern-building/5.jpg">
            <div class="camera_caption fadeFromBottom">
                بنای مدرن
            </div>
        </div>

    </div>
    <!-- #maket_wrap_1 -->
    <div class="camera_wrap camera_magenta_skin row" id="camera_wrap_2">
            <div data-thumb="/img/makets/frame-thumb/1.jpg" data-src="/img/makets/frame/1.jpg">
                <div class="camera_caption fadeFromBottom">
                    طراحی تابلو ماکت با لیزر
                </div>
            </div>

        <div data-thumb="/img/makets/frame-thumb/2.jpg" data-src="/img/makets/frame/2.jpg">
            <div class="camera_caption fadeFromBottom">
                طراحی تابلو ماکت با لیزر
            </div>
        </div>

        <div data-thumb="/img/makets/frame-thumb/3.jpg" data-src="/img/makets/frame/3.jpg">
            <div class="camera_caption fadeFromBottom">
                طراحی تابلو ماکت با لیزر
            </div>
        </div>

        <div data-thumb="/img/makets/frame-thumb/4.jpg" data-src="/img/makets/frame/4.jpg">
            <div class="camera_caption fadeFromBottom">
                طراحی تابلو ماکت با لیزر
            </div>
        </div>

        <div data-thumb="/img/makets/frame-thumb/5.jpg" data-src="/img/makets/frame/5.jpg">
            <div class="camera_caption fadeFromBottom">
                طراحی تابلو ماکت با لیزر
            </div>
        </div>

        <div data-thumb="/img/makets/frame-thumb/6.jpg" data-src="/img/makets/frame/6.jpg">
            <div class="camera_caption fadeFromBottom">
                طراحی تابلو ماکت با لیزر
            </div>
        </div>
           
            </div>
        </div>
    @*#maket_wrap_2*@

    <div style="clear:both; display:block; height:100px"></div>
</div>