@{
    ViewBag.Title = "گالری";
}
@Html.Partial("Header")

@section header{
<script src="~/Scripts/architect/jquery.mobile.customized.min.js"></script>
<script src="~/Scripts/architect/jquery.easing.1.3.js"></script>
<script src="~/Scripts/architect/camera.js"></script>
<link href="~/Content/architect/camera.css" rel="stylesheet" />
}

<script>
    jQuery(function () {

        jQuery('#camera_wrap_1').camera({
            thumbnails: true
        });

        jQuery('#camera_wrap_2').camera({
            height: '400px',
            loader: 'bar',
            pagination: false,
            thumbnails: true
        });
    });
</script>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    a {
        color: #09f;
    }

        a:hover {
            text-decoration: none;
        }

    #back_to_camera {
        clear: both;
        display: block;
        height: 80px;
        line-height: 40px;
        padding: 20px;
    }

    .fluid_container {
        margin: 0 auto;
        max-width: 1000px;
        width: 90%;
    }

    .architect-title {
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #architect-designer {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
</style>

<div class="fluid_container">
    <p class="architect-title">طراحی ماکت تابلو و بنای مدرن</p>
    <p id="architect-designer">توسط پژمان رجبی مهر</p>

    <div class="camera_wrap camera_azure_skin row" id="camera_wrap_1">
        <div data-thumb="/img/makets/thumbs-eli/1.jpg" data-src="/img/makets/Eli-maket/1.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-eli/2.jpg" data-src="/img/makets/Eli-maket/3.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-eli/3.jpg" data-src="/img/makets/Eli-maket/3.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-eli/4.jpg" data-src="/img/makets/Eli-maket/4.jpg">
            <div class="camera_caption fadeFromBottom">
                Camera slideshow provides many options <em>to customize your project</em> as more as possible
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-eli/5.jpg" data-src="/img/makets/Eli-maket/5.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-eli/6.jpg" data-src="/img/makets/Eli-maket/6.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-eli/7.jpg" data-src="/img/makets/Eli-maket/7.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-eli/8.jpg" data-src="/img/makets/Eli-maket/8.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-eli/9.jpg" data-src="/img/makets/Eli-maket/9.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>       

    </div>
    <!-- #maket_wrap_1 -->

    
    <div class="camera_wrap camera_magenta_skin row" id="camera_wrap_2">       
        <div data-thumb="/img/makets/thumbs-peji/1.jpg" data-src="/img/makets/Peji-maket/1.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/2.jpg" data-src="/img/makets/Peji-maket/2.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/3.jpg" data-src="/img/makets/Peji-maket/3.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/4.jpg" data-src="/img/makets/Peji-maket/4.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/5.jpg" data-src="/img/makets/Peji-maket/5.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/6.jpg" data-src="/img/makets/Peji-maket/6.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/7.jpg" data-src="/img/makets/Peji-maket/7.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/8.jpg" data-src="/img/makets/Peji-maket/8.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/9.jpg" data-src="/img/makets/Peji-maket/9.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/10.jpg" data-src="/img/makets/Peji-maket/10.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/11.jpg" data-src="/img/makets/Peji-maket/11.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/12.jpg" data-src="/img/makets/Peji-maket/12.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/13.jpg" data-src="/img/makets/Peji-maket/13.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        <div data-thumb="/img/makets/thumbs-peji/14.jpg" data-src="/img/makets/Peji-maket/14.jpg">
            <div class="camera_caption fadeFromBottom">
                text
            </div>
        </div>
        </div>
    </div>
    @*#maket_wrap_2*@

    
