

<div id="btn-menu" style="z-index:2">
    <a href="#" class="btn btn-warning  buttons-ourServices" id="btn-open">
        <i class="fa fa-bars fa-2x"></i>
    </a>
</div>

<div class="row active" id="mynav" style="z-index:2">

    @************************************************************************
        btn-close*@

    
    <div class="navbar-inner">
        <a class="brand toRight" href="/"><h1 id="menu-title">تیم مهندسان</h1></a>

        <br />
        <ul class="nav toRight">
            <li class="active links" data-name="ourServices"><a href="#">خدمات ما</a></li>
            <li><a class="links" href="#">نمومه کارها</a></li>
            <li><a class="links" href="@Url.Action("Team","Main")">اعضای تیم مهندسان</a></li>            
            <li><a class="links" href="@Url.Action("Gallery","Main")">گالری</a></li>
            <li><a class="links" href="@Url.Action("ContactUs","Main")">تماس با ما</a></li>


        </ul>


    </div>
</div>



