<div id="blue" class="row " >
    <div class="col-sm-12">
        <div class="row">
            <header class="col-sm-12"><p id="ourservices"><b>خدمات ما</b></p><hr /></header>
        </div>
        <div class="row">
            <div class="col-sm-3 services-content" >
               <div class="row"><i class="fa fa-building fa-3x"></i></div>
                <div class="row">
                    <p class="col-sm-12 services-titles">طراحی پلان ساختمان</p>
                </div>
                <div class="row">
                    <p class="col-sm-12 services-des">
                        نقشه کشی ساختمان کار فنی و نیز هنری است و بایستی یک فرد فنی این زبان را با تمام رموز آن بشناسد
                    </p>
                </div>
                <div class="row buttons">
                    <div class="col-sm-12">
                        <a href="#" class="btn btn-warning buttons-ourServices ">بیشتر بدانید</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-3 services-content">
                <div class="row"><i class="fa fa-camera fa-3x"></i></div>

                <div class="row">
                    <p class="col-sm-12 services-titles">دوربین های مداربسته</p>
                </div>
                <div class="row">
                    <p class="col-sm-12 services-des">
                        ارائه مشاوره رایگان به مشتریان، اجرای پروژه های بزرگ مدار بسته با آخرین تکنولوؤی های روز
                    </p>
                </div>
                <div class="row buttons">
                    <div class="col-sm-12">
                        <a href="@Url.Action("IT","Main")" class="btn btn-warning buttons-ourServices ">بیشتر بدانید</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 services-content">
                <div class="row"><i class="fa fa-globe fa-3x"></i></div>
                <div class="row">
                    <p class="col-sm-12 services-titles">طراحی وبسایت</p>
                </div>
                <div class="row">
                    <p class="col-sm-12 services-des">
                        ایجاد وبسایت با تکنولوؤی های جدید و در عین حال ساده برای کاربران
                    </p>
                </div>
                <div class="row buttons">
                    <div class="col-sm-12">
                        <a href="@Url.Action("Website","Main")" class="btn btn-warning buttons-ourServices ">بیشتر بدانید</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-3 services-content">
                <div class="row"><i class="fa fa-clone fa-3x"></i></div>

                <div class="row">
                    <p class="col-sm-12 services-titles">طراحی ماکت سازه</p>
                </div>
                <div class="row">
                    <p class="col-sm-12 services-des">
                        برنامه مشخصی برای ماکت معماری خود در نظر بگیرید، و از کمک همکاران ما در این زمینه بهره ببرید
                    </p>
                </div>
                <div class="row buttons">
                    <div class="col-sm-12">
                        <a href="@Url.Action("Makets","Main")" class="btn btn-warning buttons-ourServices ">بیشتر بدانید</a>
                    </div>
                </div>
            </div>





        </div>

    </div>
</div>




 