<div id="blue" class="row">
    <div class="col-sm-12">
        <div class="container">
            <div class="row">
                <heaer><h2><b>خدمات ما</b></h2><hr /></heaer>
            </div>
            <div class="row" id="services">


                @*<div class="row" id="icons">

                </div>

                <div class="row" id="titles">

                </div>

                <div class="row" id="description">

                </div>

                <div class="row" id="buttons">

                </div>*@

                <!--***********************************************************************-->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="pic">
                            <i class="fa fa-compass fa-stack-2x"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title">
                            <h3>طراحی پلان ساختمانی</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h5>
                                نقشه کشی ساختمان کار فنی و نیز هنری است و بایستی یک فرد فنی این زبان را با تمام رموز آن بشناسد
                            </h5>
                        </div>
                    </div>
                    <div class="row buttons">
                        <div>
                            <a href="#" class="btn btn-primary buttons-ourServices">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>

                
                
                <!--*******************************************************************************-->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="pic">
                            <i class="fa fa-shield fa-stack-2x "></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title">
                            <h3>طراحی وبسایت</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h5>
                                ایجاد وبسایت با تکنولوؤی های جدید و در عین حال ساده برای کاربران
                            </h5>
                        </div>
                    </div>
                    <div class="row buttons">
                        <div>
                            <a href="#" class="btn btn-primary buttons-ourServices">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
                <!--*******************************************************************************-->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="pic">
                            <i class="fa fa-cloud fa-stack-2x "></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title">
                            <h3>طراحی ماکت سازه</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h5>
                                نمونه های فیزیکی سه بعدی از یک طراحی

                            </h5>
                        </div>
                    </div>
                   
                    <div class="row buttons">
                        <div>
                            <a href="#" class="btn btn-primary buttons-ourServices">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
                <!--*******************************************************************************-->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="pic">
                            <i class="fa fa-flask fa-stack-2x  "></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title">
                            <h3>طراحی دوربین های مداربسته</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h5>
                                ارائه مشاوره رایگان به مشتریان، اجرای پروژه های بزرگ مدار بسته با آخرین تکنولوؤی های روز
                            </h5>
                        </div>
                    </div>
                    <div class="row buttons">
                        <div>
                            <a href="#" class="btn btn-primary buttons-ourServices">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
                <!--*******************************************************************************-->
                

           


            </div>
        </div>
    </div>
</div>
