<div id="blue" class="row" >
    <div class="col-sm-12">
        <div class="container">
            <div class="row">
                <header><h1><b>خدمات ما</b></h1><hr /></header>
            </div>
            <div class="row" id="services">

                <!--***********************************************************************-->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="pic">
                            <i class="fa fa-building-o fa-3x"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title">
                            <h2>طراحی پلان ساختمان</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h4>
                                نقشه کشی ساختمان کار فنی و نیز هنری است و بایستی یک فرد فنی این زبان را با تمام رموز آن بشناسد
                            </h4>
                        </div>
                    </div>
                    <div class="row buttons">
                        <div>
                            <a href="#" class="btn btn-warning buttons-ourServices ">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>

                
                
                <!--*******************************************************************************-->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="pic">
                            <i class="fa fa-globe fa-3x "></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title">
                            <h2>طراحی وبسایت</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h4>
                                ایجاد وبسایت با تکنولوؤی های جدید و در عین حال ساده برای کاربران
                            </h4>
                        </div>
                    </div>
                    <div class="row buttons">
                        <div>
                            <a href="#" class="btn btn-warning buttons-ourServices">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
                <!--*******************************************************************************-->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="pic">
                            <i class="fa fa-cloud fa-3x "></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title">
                            <h2>طراحی ماکت سازه</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h4>
                             برنامه مشخصی برای ماکت معماری خود در نظر بگیرید، و از کمک همکاران ما در این زمینه بهره ببرید

                            </h4>
                        </div>
                    </div>
                   
                    <div class="row buttons">
                        <div>
                            <a href="#" class="btn btn-warning buttons-ourServices">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
                <!--*******************************************************************************-->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="pic">
                            <i class="fa fa-video-camera fa-3x  "></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title">
                            <h2>دوربین های مداربسته</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h4>
                                ارائه مشاوره رایگان به مشتریان، اجرای پروژه های بزرگ مدار بسته با آخرین تکنولوؤی های روز
                            </h4>
                        </div>
                    </div>
                    <div class="row buttons">
                        <div>
                            <a href="#" class="btn btn-warning buttons-ourServices">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
                <!--*******************************************************************************-->
                

           


            </div>
        </div>
    </div>
</div>
