
<div class="row" >
    <div class="col-sm-12">
       
            <div class="row" id="ourWork">
                <div  class="col-sm-12">
                    <h1>معرفی نرم افزارهای نقشه کشی</h1><hr />
                </div>
            </div>

            <div class="row" style="margin-left:50px; margin-right:50px" >
                <div class="col-sm-4 ourwork">
                    <div >
                        <h2>E-tabs</h2>
                        <p style="font-size:20px;">نرم‌افزار ETABS یک نرم‌افزار مخصوص جهت تحلیل و طراحی سازه‌های ساختمانی می‌باشد.
                         قابلیت این نرم‌افزار جهت تحلیل و طراحی این نوع سازه‌ها جهت گیری شده‌اند. تمام المان‌های یک ساختمان برای برنامه شناخته شده هستند. پردازنده‌های طراحی برنامه بسیار کامل می‌باشد و تمام المان‌های ساختمان را می‌توان در این نرم‌افزار طراحی کرد.</p>
                        
                    </div>
                </div>
                <div class="col-sm-4 ">
                        <div>
                            <h2>Safe</h2> 
                            <p style="font-size:20px;">Safe برای طراحی کف بتنی post-tension و سیستمهای بنیادی بکاربرده میشود. در نسخه جدید Safe عناصر چند بعدی طبق مدلسازی و ابزارهای ترسیم تصاویر معرفی شده اند. این مجموعه با بهره گیری از استانداردهای موجود در حوزه عملیاتی بودن طرح و خلاقیت آن امکانات تازه‌ای برای کاربران فراهم می‌کند</p>                        
                        </div>
                    </div>
               
                <div class="col-sm-4 ">
                    <div>
                        <h2>AutoCad</h2>
                        <p style="font-size:20px;">در نرم‌افزار اتوکد همه چیز برای یک مهندس رشته عمران فراهم است در واقع تمام ابزارهای نقشه کشی در این برنامه وجود دارد و کاربر در محیط شبیه سازی شده به آسانی قادر خواهد بود تا اقدام به طراحی نقشه مورد نظر خود نمایید. همچنین این برنامه یک محیط ۳ بعدی را در احتیار کاربر خود قرار می‌دهد تا بتواند نقشه‌های ۳ بعدی تولید کنید و در یک محیط سه بعدی به آنالیز ساختمان طراحی شده بپردازد </p>
                    </div>
                </div>
            </div>

         
            <div class="row">
                <div class="col-sm-12" style="text-align:center; margin-bottom:50px; margin-top:50px;">
                    <a href="@Url.Action("Gallery","Main")" class="btn btn-warning buttons-ourServices">دانلود و ادامه مطلب</a>
                </div>
            </div>

        </div>
  

</div>
