
<div class="row" id="softwares">
    <div class="col-sm-12">
       
            <div class="row" >
                <div  class="col-sm-12">
                    <p id="softwares-header"><b>نرم افزارهای نقشه کشی</b></p><hr />
                </div>
            </div>

            <div class="row" >
                <div class="col-sm-4 ">
                    <div >
                        <p class="softwares-title">E-tabs</p>
                        <p class="softwares-des" >نرم‌افزار ETABS یک نرم‌افزار مخصوص جهت تحلیل و طراحی سازه‌های ساختمانی می‌باشد.
                         قابلیت این نرم‌افزار جهت تحلیل و طراحی این نوع سازه‌ها جهت گیری شده‌اند. تمام المان‌های یک ساختمان برای برنامه شناخته شده هستند. پردازنده‌های طراحی برنامه بسیار کامل می‌باشد و تمام المان‌های ساختمان را می‌توان در این نرم‌افزار طراحی کرد.</p>
                        
                    </div>
                </div>
                <div class="col-sm-4 ">
                        <div>
                            <p class="softwares-title">Safe</p> 
                            <p class="softwares-des">Safe برای طراحی کف بتنی post-tension و سیستمهای بنیادی بکاربرده میشود. در نسخه جدید Safe عناصر چند بعدی طبق مدلسازی و ابزارهای ترسیم تصاویر معرفی شده اند. این مجموعه با بهره گیری از استانداردهای موجود در حوزه عملیاتی بودن طرح و خلاقیت آن امکانات تازه‌ای برای کاربران فراهم می‌کند</p>                        
                        </div>
                    </div>
               
                <div class="col-sm-4 ">
                    <div>
                        <p class="softwares-title">AutoCad</p>
                        <p class="softwares-des">در نرم‌افزار اتوکد همه چیز برای یک مهندس رشته عمران فراهم است در واقع تمام ابزارهای نقشه کشی در این برنامه وجود دارد و کاربر در محیط شبیه سازی شده به آسانی قادر خواهد بود تا اقدام به طراحی نقشه مورد نظر خود نمایید. همچنین این برنامه یک محیط ۳ بعدی را در احتیار کاربر خود قرار می‌دهد تا بتواند نقشه‌های ۳ بعدی تولید کنید و در یک محیط سه بعدی به آنالیز ساختمان طراحی شده بپردازد </p>
                    </div>
                </div>
            </div>

         
            <div class="row">
                <div class="col-sm-12" style="text-align:center; margin-bottom:50px; margin-top:50px;">
                    <a href="@Url.Action("Gallery","Main")" class="btn btn-warning buttons-ourServices">ادامه مطلب</a>
                </div>
            </div>

        </div>
  

</div>
