<div class="row">
    <div class="col-sm-12">
       
            <div class="row">
                <div id="ourWork" class="col-sm-12">
                    <h2>کارهای ما</h2><hr />
                </div>
            </div>

            <div class="row" >
                <div class="col-sm-3 ourwork">
                    <div >
                        <img src="~/img/makets/plan.jpg" class="img-responsive round-corner" />
                    </div>
                </div>
                <div class="col-sm-3 ">
                        <div>
                            <a href="@Url.Action("IT", "Main")">
                                <img src="~/img/makets/maket-6.jpg" class="img-responsive round-corner" style="float:left;"/>
                            </a>
                            
                        </div>
                    </div>
                <div class="col-sm-3 ">
                    <div>
                        <a href="@Url.Action("IT", "Main")">
                            <img src="~/img/Camera/website.jpg" class="img-responsive round-corner" style="float:left;" />
                        </a>

                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div>
                        <a href="@Url.Action("IT", "Main")">
                            <img src="~/img/Camera/camera-1.jpg" class="img-responsive round-corner" style="float:left;" />
                        </a>

                    </div>
                </div>
            </div>

            @*<div class="row">
                    <div class="col-sm-6 ourwork">
                        <div>
                            <img src="~/img/makets/maket-3.jpg" class="office-images round-corner"  />
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div>
                            <img src="~/img/Camera/website.jpg" class="office-images round-corner" style="float:left" />
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-sm-12" style="text-align:center; margin-bottom:50px; margin-top:50px;">
                    <a href="@Url.Action("Gallery","Main")" class="btn btn-warning buttons-ourServices">دانلود و ادامه مطلب</a>
                </div>
            </div>

        </div>
  

</div>
