@{
    ViewBag.Title = "Plan";
}

@Html.Partial("Header")
<div class="row">
    <div class="col-sm-8">
        <img class="plan-size"  />
    </div> 
    <div class="col-sm-4">
        <p>توضیحات</p>
    </div>  
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>


<div class="row">
    <div class="col-sm-12">

    </div>
</div>