@{
    ViewBag.Title = "Softwares";
}


@Html.Partial("Header")
<div class="row" id="softwares">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8">
                <img src="~/img/Plan/plan1.png" />
            </div>
            <div class="col-sm-4">
                <h1>اتوکد</h1>
                <p>در نرم‌افزار اتوکد همه چیز برای یک مهندس رشته عمران فراهم است در واقع تمام ابزارهای نقشه کشی در این برنامه وجود دارد و کاربر در محیط شبیه سازی شده به آسانی قادر خواهد بود تا اقدام به طراحی نقشه مورد نظر خود نمایید. همچنین این برنامه یک محیط ۳ بعدی را در احتیار کاربر خود قرار می‌دهد تا بتواند نقشه‌های ۳ بعدی تولید کنید و در یک محیط سه بعدی به آنالیز ساختمان طراحی شده بپردازد</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <img src="~/img/Plan/plan2.png" />
            </div>
            <div class="col-sm-4">
                <h1>ٍE-tabs</h1>
                <p>نرم‌افزار ETABS یک نرم‌افزار مخصوص جهت تحلیل و طراحی سازه‌های ساختمانی می‌باشد. قابلیت این نرم‌افزار جهت تحلیل و طراحی این نوع سازه‌ها جهت گیری شده‌اند. تمام المان‌های یک ساختمان برای برنامه شناخته شده هستند. پردازنده‌های طراحی برنامه بسیار کامل می‌باشد و تمام المان‌های ساختمان را می‌توان در این نرم‌افزار طراحی کرد.</p>

            </div>


        </div>
    </div>
</div>