@{
    ViewBag.Title = "Team";
}
@Html.Partial("Header")
@*************************************************************
pezhman*@
<div class="content-section-a row">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6 ">
                <div class="row">
                    <hr class="section-heading-spacer pull-right" >
                </div>             
                <div class="row">
                    <h2 class="section-heading">پژمان رجبی مهر</h2>
                </div>
                <div class="row">
                    <h3 class="rightToLeft">مهندس عمران</h3>
                </div>
                <div class="row rightToLeft">
                    <p class="lead">
                       بیش از 3 سال تجربه کاری در زمینه ماکت سازی با نمومه کارهای موجود، طراحی حرفه ای پلان ساختمان و انجام پروژه های دانشجویی
                    </p>
                </div>
                
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br /><img class="img-responsive image-custom round-corner" src="/img/Team/Peji-pic.jpg" alt="">
            </div>
        </div>
    </div>
</div>

@*************************************************************
peyman*@
<div class="content-section-b row">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="row">
                    <hr class="section-heading-spacer pull-right">
                </div>
                <div class="row">
                    <h2 class="section-heading">پیمان رجبی مهر</h2>
                </div>
                <div class="row">
                    <h3 class="rightToLeft">مهندس شبکه</h3>
                </div>
                <div class="row ">
                    <p class="lead rightToLeft">
                        بیش از 5 سال تجربه حرفه ای در زمینه طراحي و پياده‌سازي پروتکل هاي شبکه‌هاي کامپيوتري، شبکه های گسترده (WAN) و محلی (LAN).
                         استفاده از تکنولوژی های مختلف از جمله فیبرهای نوری و تکنولوژی های مایکروویوی.<br /> طراحی شبکه سازمان خود را به ما بسپارید. 
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <br />
                <img class="img-responsive image-custom round-corner" src="/img/Team/Peyman-pic.jpg" alt="" style="height:300px;">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

@*************************************************************
Elahe*@
<div class="content-section-a row">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6 ">
                <div class="row">
                    <hr class="section-heading-spacer pull-right">
                </div>
                <div class="row">
                    <h2 class="section-heading">الهه دهقان آزاد</h2>
                </div>
                <div class="row">
                    <h3 class="rightToLeft">مهندس معمار</h3>
                </div>
                <div class="row rightToLeft">
                    <p class="lead" style="margin-top:5px;">                                               
                         طراحی نقشه های ساختمان های جدید و برنامه بازسازی و محافظت از ساختمان های قدیمی، با تکیه بر علم مهندسی، ذوق هنری و شناخت از فرهنگ، آداب و رسوم، جغرافیای انسانی و طبیعی محل مورد نظر با استفاده از آخرین تکنولوژی های روز
                    </p>
                </div>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br /><img class="img-responsive image-custom round-corner" src="/img/Team/Elahe-pic.jpg" alt="">
            </div>
        </div>
    </div>
</div>

@*************************************************************
Pouneh*@
<div class="content-section-b row">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="row">
                    <hr class="section-heading-spacer pull-right">
                </div>
                <div class="row">
                    <h2 class="section-heading">پونه رجبی مهر</h2>
                </div>
                <div class="row">
                    <h3 class="rightToLeft">مهندس نرم افزار</h3>
                </div>
                <div class="row ">
                    <p class="lead rightToLeft"> طراحی وبسایت با آخرین تکنولوژی های روز، HTML,
                     HTML5, CSS, CSS3, JAVASCRIPT, 
                    JQUERY, VISUAL STUDIO, BOOTSTRAP, MODERNIZER,
                     SASS AND LESS, GIT AND JIRA</p>
                </div>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <br />
                <img class="img-responsive image-custom round-corner" src="/img/Team/Pouneh-pic.jpg" alt="" style="height:300px;">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

@*************************************************************
Siavash*@
<div class="content-section-a row">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6 ">
                <div class="row">
                    <hr class="section-heading-spacer pull-right">
                </div>
                <div class="row">
                    <h2 class="section-heading">سیاوش جوزانی</h2>
                </div>
                <div class="row">
                    <h3 class="rightToLeft">مهندس نرم افزار</h3>
                </div>
                <div class="row rightToLeft">
                    <p class="lead" style="margin-top:5px;">
                        توليد سيستم‌هاي نرم‌افزاري براي حيطه‌هاي مختلف صنعتي، تجاري و علمي.
                        مديريت پروژه‌هاي توليد سيستم‌هاي نرم‌افزاري،  
                        طراحي و بهينه‌سازي پايگاه‌هاي داده، 
                        ايجاد سازوکارهاي امنيتي در سيستم‌ها
                    </p>
                </div>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br /><img class="img-responsive image-custom round-corner" src="~/img/Team/sash.jpg" alt="">
            </div>
        </div>
    </div>
</div>
