@{
    ViewBag.Title = "Team";
}


<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6 ">
                <div class="row">
                    <hr class="section-heading-spacer">
                </div>             
                <div class="row">
                    <h2 class="section-heading">پژمان رجبی مهر</h2>
                </div>
                <div class="row">
                    <h3 class="rightToLeft">مهندس عمران</h3>
                </div>
                <div class="row rightToLeft">
                    <p class="lead" style="margin-top:5px;">
                       بیش از 3 سال تجربه کاری در زمینه ماکت سازی با نمومه کارهای موجود، انجام پروژه های دانشجویی، طراحی حرفه ای پلان ساختمان، ماکت سازی
                    </p>
                </div>
                
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br /><img class="img-responsive image-custom round-corner" src="~/img/Team/Pezhman.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">پیمان رجبی مهر</h2>
                <h3>مهندس شبکه</h3>
                <p class="lead">
                    This guy is THE guy in development, no matter the request, the time frame or the technology, this guy will make it happen. He is precise, smart and briliant.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <br />
                <img class="img-responsive image-custom round-corner" src="~/img/Team/peyman.jpg" alt="" style="height:300px;">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">الهه آزاد</h2>
                <h3>مهندس معمار</h3>
                <p class="lead">
                    it's scary! The way she thinks it's really unique and out of the box, it's so out of the box that makes you wonder "Have I ever looked at it this way?".
                    As our front-end specialist, you know you can always count on her. Knowing HTML, CSS, JavaScript, JS based libraries (jQuery, Knockout, Modernizr) enables her to create enterprise level web pages.
                    With the talent she possesses, she can create high quality, cross-browser and responsive webpages in a jiffy!
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br /><img class="img-responsive image-custom round-corner" src="~/img/Team/Elahe.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">پونه رجبی مهر</h2>
                <h3>مهندس نرم افزار</h3>
                <p class="lead">
                    This guy is THE guy in development, no matter the request, the time frame or the technology, this guy will make it happen. He is precise, smart and briliant.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <br />
                <img class="img-responsive image-custom round-corner" src="~/img/Team/Pouneh.jpg" alt="" style="height:300px;">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">سیاوش جوزانی</h2>
                <h3>مهندس نرم افزار</h3>
                <p class="lead">
                    it's scary! The way she thinks it's really unique and out of the box, it's so out of the box that makes you wonder "Have I ever looked at it this way?".
                    As our front-end specialist, you know you can always count on her. Knowing HTML, CSS, JavaScript, JS based libraries (jQuery, Knockout, Modernizr) enables her to create enterprise level web pages.
                    With the talent she possesses, she can create high quality, cross-browser and responsive webpages in a jiffy!
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br /><img class="img-responsive image-custom round-corner" src="~/img/Team/Siavash.jpg" alt="">
            </div>
        </div>
    </div>
</div>
