@{
    ViewBag.Title = "طراحی وب سایت";
}
@Html.Partial("Header")

<style>
    #Samples{
        background-color:white;
        padding:50px;
    }
</style>

<link href="~/Content/pricing-tables.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="intro-message">
                <h3>چه نوع وبسایتی مناسب نیاز شماست؟ <a href="@Url.Action("ContactUs","Main")">با ما تماس بگیرید</a></h3>
            </div>
        </div>
    </div>
</div>



<div class="content-section-b">

    <div class="container">
        <div class="row">

            <div class="col-sm-4 col-md-4">
                <div class="plan">

                    <div class="head">
                        <h2>صفحه استاتیک</h2>

                    </div>

                    <ul class="item-list">
                        <li>متناسب برای <strong>بیزینس های کوچک</strong></li>
                        <li>3 ماه <strong>پشتیبانی رایگان</strong>*</li>
                        <li>تا  <strong>6</strong> بخش</li>
                        <li>کاملا <strong>Responsive</strong></li>
                        <li>تماس با <strong>ایمیل</strong> اتوماتیک</li>
                    </ul>

                    <div class="price">
                        <h2><span>1,500،000</span> تومان</h2>
                    </div>

                    <button type="button" class="btn btn-success">سفارش</button>
                    <br />
               

                </div>

            </div>
            <div class="col-sm-4 col-md-4">

                <div class="plan firstScale">

                    <div class="head">
                        <h2>استاتیک</h2>

                    </div>

                    <ul class="item-list">
                        <li>تا <strong>5</strong>صفحه HTML </li>
                        <li>دومین <strong>سال اول رایگان</strong></li>
                        <li>3 ماه <strong>پشتیبانی رایگان</strong>*</li>
                        <li>کاملا <strong>Responsive</strong></li>
                        <li>تماس با <strong>ایمیل</strong> اتوماتیک</li>

                    </ul>

                    <div class="price">
                        <h2><span>2,500،000</span> تومان</h2>

                    </div>

                    <button type="button" class="btn btn-success">سفارش</button>
                    <br />
                    
                </div>


            </div>
            <div class="col-sm-4 col-md-4 ">

                <div class="plan">

                    <div class="head">
                        <h2>داینامیک</h2>
                    </div>

                    <ul class="item-list">
                        <li>طراحی داشبورد ادمین به شکل دلخواه</li>
                        <li><strong>داشبورد ادمین</strong>کاملا امن </li>
                        <li><strong>متن دلخواه</strong>, مدیریت توسط شما</li>
                        <li>دومین <strong>سال اول رایگان</strong></li>
                        <li>3 ماه <strong>پشتیبانی رایگان</strong>*</li>

                    </ul>

                    <div class="price">
                        <h2>با ما تماس بگیرید</h2>


                    </div>

                    <button type="button" class="btn btn-success">تماس با ما</button>
                    <br />
                  

                </div>

            </div>

        </div>
    </div>
   
</div>
<div class="container-fluid row" id="Samples">
  
        <div class="col-lg-4 col-lg-offset-4 text-center">
           
            <a href="@Url.Action("WebsiteSample","Main")" class="btn btn-primary btn-lg btn-block">نمونه کارها</a>
        </div>
  
</div>
@section scripts{
    <script>
        $(function () {
            $(".plan").hover(function () {
                console.log($("body").width());
                $(".plan").removeClass("firstScale");
            });
        });
    </script>

}
