<div class="row">
    <div class="col-sm-12" id="footer">
        <h2><strong>تیم مهندسان</strong></h2>
        <address><b>تهران، سید خندان، جلفا  <br /> قناری غربی، پلاک 4 </b></address>

        <ul class="list-unstyled">
            <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
            <li><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:Manager@engineers-team.com">Manager@engineers-team.com</a></li>
        </ul>

        <br />

        <ul class="list-inline">
            @*  <li><a href="#"><i class="fa fa-telegram fa-2x"></i></a></li>*@
            <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
        </ul>
        <hr id="small-hr" />
        <p class="text-muted">Engineers-team.com © , All Rights Reserved. Made with love by www.jozaniNet.com </p>

    </div>
</div>
