<div class="row">
    <div class="col-sm-12" id="footer">
        <h2><strong>تیم مهندسان</strong></h2>
        <address><b>تهران، فلکه دوم صادقیه، مرزداران  <br />  </b></address>

        <ul class="list-unstyled">
            <li>9195775707 <i class="fa fa-phone fa-fw"></i></li>
            <li>9303827778 <i class="fa fa-phone fa-fw"></i></li>

            <li> <a href="mailto:Manager@engineers-team.com">Manager@engineers-team.com</a> <i class="fa fa-envelope-o fa-fw"></i></li>
        </ul>

        <br />

        <ul class="list-inline">
              <li><a href="#"><i class="fa fa-telegram fa-2x"></i></a></li>           
              <li><a target="_blank" href="https://www.instagram.com/engineerste2016/"><i class="fa fa-instagram fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
        </ul>
        <hr id="small-hr" />
        <p class="text-muted">Engineers-team.com © All Rights Reserved. Made with love by www.jozaniNet.com </p>

    </div>
</div>
